<div class="home-container">
    <!-- Welcome Section -->
    <section class="welcome-section">
      <img src="assets\images\welcomelogo.drawio (2).png" alt="Digital Doc Lock" class="welcome-logo">
    
      <div class="welcome-text">
        <h1>Welcome to DOC-KEY-CHAN</h1>
        <p>Secure, encrypt, and manage your documents with ease.</p>
        <div class="buttons">
          <button (click)="goToLogin()" class="btn">Login</button>
          <button (click)="goToSignup()" class="btn">Sign Up</button>
        </div>
      </div>
    </section>
    
  
    <!-- Features Section -->
    <section class="features">
      <h2>Why Choose Us?</h2>
      <div class="feature-cards">
        <div class="card">
          <h3>🔒 Secure Encryption</h3>
          <p>Protect your documents with AES encryption.</p>
        </div>
        <div class="card">
          <h3>📂 Easy Upload</h3>
          <p>Upload and manage PDFs and Word files effortlessly.</p>
        </div>
        <div class="card">
          <h3>🔑 Password Protection </h3>
          <p>Lock your files with a password for extra security.</p>
        </div>
        <div class="card">
          <h3>👨‍💼 Admin Management</h3>
          <p>Admins can monitor and manage document security.</p>
        </div>
        <div class="card">
      <h3>📥 Download Document</h3>
      <p>Users can download or view locked documents.</p>
    </div>
      </div>
    </section>
  </div>
  